/* You can add global styles to this file, and also import other style files */

body {
    margin: 0 auto;
    background-image: url('src/assets/img/view.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
}